$primary-green: #4caf50;
$dark-green: #689f38;
$light-green: #cddc39;
$background-color: #f1f8e9;
$accent-green: #8bc34a;
$text-dark: #1f2429;

$primary-font: "Jost", sans-serif;
$accent-font: "Oswald", sans-serif;
/* Variables */

body {
  overflow-x: hidden;
  background-image: url(../../../media/ornament.jpg);
  background-size: 500px;
  background-repeat: repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
  background: #f1f8e9;
  -webkit-box-shadow: 0px 0px 30px #22222290;
  box-shadow: 0px 0px 30px #22222290;
}

.error {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // .error__title

  &__title {
    font-size: 56px;
    font-family: $accent-font;
    text-align: center;
  }

  // .error__subtitle

  &__subtitle {
    font-size: 24px;
    font-family: $primary-font;
    text-align: center;

    margin: 42px 0;
  }

  // .error__back

  &__back {
    text-decoration: none;
    color: $text-dark;
    padding: 12px;
    background-color: $accent-green;
    border-radius: 120px;

    font-weight: bold;
    font-family: $primary-font;

    transition: all 150ms ease-out;
  }

  &__back:hover {
    transform: scale(1.2);
    transition: all 150ms ease-in;
  }
}
